/* 
Just making note of these dope colors (HSL):
187, 90, 82 Light Blue
187, 60, 22 Like a really deep teal
154, 100, 62 Muted emerald

0, 0, 33 And the dark gray of course
*/

:root {
     font-size: 22px;
     color: hsl(000, 000%, 33%);
}

h1   { font: 400 2.0rem/1.2 …; }
h2   { font: italic 300 1.5rem/1.2 …; }
time { font: 400 1.0rem/1.2 …; }
h3   { font: 400 1.0rem/1.2 …; }
a    { box-shadow: inset 0 -0.25em #3DFFAB;  }
a:hover { color: #3DFFAB; }

p    {
     color: hsl(0, 0%, 33%);
     /* text-align: justify; */
     padding-bottom: 1.25rem;
     /* text-indent: 2rem; */

     font: 400 1.0rem/1.5 …;
     font-family: garamond; /*Georgia,Cambria,"Times New Roman",Times,serif;*/
     /* font-size: 24px; */
}

h1, h2, h3, time {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: hsl(000, 000%, 33%);
}

h2, h3 {
     padding-bottom: 0.5rem;
}

.back-wrapper, .front-wrapper {
     display: grid;
     grid-template-columns: 1fr 8fr 1fr;
     grid-template-rows: 8rem auto 8rem;
     grid-column-gap: 2em;
}

.back-wrapper {
     position: fixed;
     width: 100%;
     z-index: -1;
}

.back-wrapper header {
     padding-top: 1.5em;
     grid-column: 2/3;
     align-content: center;
}

.front-wrapper {
     position: absolute;
     top: 0px;
}

.front-wrapper .content {
     grid-column: 2/3;
     grid-row-start: 2;
     /* border-top: 2px solid;
     border-color: #3DFFAB; */
     background-color: white;
}

.front-wrapper .content img {
     width: 100%;
     margin-bottom: 0.5em;
}

.front-wrapper footer {
     grid-column: 1/4;
     grid-row: 3/4;
     background-color: rgb(25, 44, 36);
}