/* 
Just making note of these dope colors (HSL):
187, 90, 82 Light Blue
187, 60, 22 Like a really deep teal
154, 100, 62 Muted emerald

0, 0, 33 And the dark gray of course
*/

:root {
  font-size: 22px;
}

#header-wrapper { padding-top: 2rem; padding-bottom: 2rem; }
h1   { font: 700 3.0rem/1.2 …; color: hsl(000, 000%, 33%); }
h2   { font: 400 2.0rem/1.2 …; color: hsl(000, 000%, 33%); }
time { font: 400 1.0rem/1.2 …; color: hsl(000, 000%, 33%); }
h3   { font: 700 1.0rem/1.2 …; color: hsl(000, 000%, 33%); }
a    { box-shadow: inset 0 -0.25em #3DFFAB;  }
a:hover { color: #3DFFAB; }
p    {
  color: hsl(000, 000%, 33%);
  /* text-align: justify; */
  padding-bottom: 1.25rem;
  /* text-indent: 2rem; */

  font: 400 1.0rem/1.5 …;
  font-family: garamond; /*Georgia,Cambria,"Times New Roman",Times,serif;*/
  /* font-size: 24px; */
}
pre {
  font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  font-size: calc(0.75 * 1rem);
  padding: 1rem 1rem 0.5rem 0.5rem;
}

h1, h2, h3, time {
  font-family: helveticaneue;
  color: hsl(000, 000%, 33%);
}

h2, h3 {
  padding-bottom: 0.5rem;
}

.header-container {
  position: fixed;
  width: 100%;
  z-index: -1;
}

.content-container {
  width: 100%;
}

.footer-container {
  width: 100%;
}

.header-grid * {
  grid-area: header;
  align-self: center;
}

.content-grid * {
  grid-area: content;
  background-color: white;
}

.content-grid pre {
  background-color: #EDEDED;
}

.footer-grid * {
  grid-area: footer;
}

.header-grid {
  display: grid;
  grid-template-areas: 
    ". header .";
  grid-template-rows: [header-top] 8rem [header-bottom];
  grid-template-columns: [left] 1fr [center-left] 8.5in [center-right] 1fr [right];
}

.content-grid {
  display: grid;
  grid-template-areas: 
    ". . ."
    ". content ."
    ". . .";
  grid-template-rows: [top] 8rem [content-top] auto [footer-top] 8rem [bottom];
  grid-template-columns: [left] 1fr [center-left] 8.5in [center-right] 1fr [right];
}

.footer-grid {
  display: grid;
  grid-template-areas:
    ". footer .";
  grid-template-rows: [footer-top] 8rem [footer-bottom];
  grid-template-columns: [left] 1fr [center-left] 8.5in [center-right] 1fr [right];
}

@media (max-width: 8.5in) {
  .header-grid, .content-grid, .footer-grid {
      grid-template-columns: [left] 1fr 5% [center-left] 90% [center-right] 5% 1fr [right];
  }

  .header-grid {
    grid-template-areas: 
      ". header .";
    grid-template-rows: [header-top] 8rem [header-bottom];
  }

  .content-grid {
    grid-template-areas: 
      ". . ."
      ". content ."
      ". footer .";
    grid-template-rows: [top] 8rem [content-top] auto [footer-top] 8rem [bottom];
  }

  .footer-grid {
    grid-template-areas:
      ". footer .";
    grid-template-rows: [footer-top] 8rem [footer-bottom];
  }
}

.header-grid * {
  grid-row: header-top / header-bottom;
}

.header-grid *, .content-grid *, .footer-grid * {
  grid-column: center-left / center-right;
}

.footer-grid * {
  grid-row: footer-top / footer-bottom;
}

/* div for timestamped article header */
.h1-stamped {
  display: flex;
  align-items: baseline;

  border-top: 4px solid;
  border-color: #3DFFAB;
  padding-top: 0.5rem
}

.h1-stamped > :nth-child(2) {
  margin-left: auto;
}

/* Italisize references like books and white papers */
.reference {
  font-style: italic;
}